/* Init */
*{
	box-sizing: border-box;	
}
html{
	font-size: 16px;
	scroll-behavior: smooth;
}

body{
	margin: 0;
	font-size: 1rem;
	font-family: Lato, sans-serif;
	background-color: #fcfcfc;
}
img{
	max-width: 100%;
}

/* Navigation */
h1{
	margin: 0;
}

.site-title{
	margin: .5em 0;
	color: #151c22;
}
header{
	animation: 3s ease-out 0s 1 slideInHeader;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	padding: 2em;
	/*background-color: #fff;*/
	transition: all 1s;
	opacity: 0%;
}

/* On Scroll Events */
.onScroll{
	position: fixed;
	z-index: 1;
	width: 100%;
	background-color: white;
	height: 4rem;
}
.onScroll-SiteTitle{
	margin: -1.3em 0;

}
.onScroll-Nav
{
	margin: -1.5em 0;
}

nav {
	display: flex;
	justify-content: flex-end; /*centre*/
}

nav ul{
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;
}

nav li{
	margin-left: 2em;
}

nav a{
	text-decoration: none;
	color: #151c22;
	font-weight: 700;
	padding: .25em 0;
}

nav a:hover,
nav a:focus{
	color: #1262fb;

}

/* Animations */
@keyframes slideIn {
	0% {
		transform: translateY(50%);
		opacity: 0%;
	}
	100% {
		transform: translateY(0);
		opacity: 100%;
		
	}
}

@keyframes slideInHeader {
	0% {
		transform: translateY(30%);
		opacity: 0%;
	}
	100% {
		transform: translateY(0);
		opacity: 100%;
		
	}
}

.current-page{
	border-bottom: 1px solid #1262fb;
	color: #1262fb;
}

.current-page:hover{
	color: #1262fb;	
}


/* Typography */

.more-link {
	text-decoration: none;
	color: #1262fb;	
	transition: all .5s ease;
}

/* Content */ 

section{
/*	padding: 45px;*/
}

.menu{
	animation: 2s ease-out 0s 1 slideIn;
	width: 24%;
	transition: all .5s;
}

.menu img{
	border-radius: .5rem;
	align-self: end;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


.menu:hover{
	transform: scale(1.05);
}

.mainhero
{
	position: relative;
	width:  100vw;
	max-width: 100%;
	min-height: 20rem;
	padding:  0;
	display: flex;
	align-items: flex-end;
	margin-bottom: 0;
/*	background-image: url("media/holder.png");
	background-size:  cover;*/
}

.hero_stage
{
	width:  100%;
	height:  50%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero_stage h1
{
	position: absolute;
	font-size: 10em;
}

.hero_stage h1:nth-child(1)
{
	color: transparent;
	-webkit-text-stroke: 2px rgba(18,98,251,.95);
}

.hero_stage h1:nth-child(2)
{
	color: rgba(18,98,251,.95);
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 50%,
      10% 48%,
      20% 46%,
      30% 48%,
      40% 50%,
      50% 52%,
      60% 54%,
      70% 52%,
      80% 50%,
      90% 48%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 54%,
      10% 56%,
      20% 58%,
      30% 56%,
      40% 54%,
      50% 52%,
      60% 50%,
      70% 52%,
      80% 54%,
      90% 56%,
      100% 58%, 
      100%100%,
      0% 100%
    );
   }
}

.section-one
{
	background-color:  rgba(0, 0, 1, 0.2);
}
.container-menu{
	width: 100%;
	/*border: 2px solid magenta;*/
	margin: 2em 0em;
	padding: 0 1em;
	display: flex;
	justify-content: space-around;

}

.container-menu-socials{
	width: 10%;
	/*border: 2px solid magenta;*/
	margin: 0 auto;
	display: block;
	display: flex;
	justify-content: center;
	align-items:  center;
}

.social-link{
	animation: 2s ease-out 0s 1 slideIn;
	width: 20%;
	transition: all .5s;	
}


.social-link:hover{
	transform: scale(1.05);
}

.container{
	max-width: 100%; /*used to be max-width:  900px; */
	width: 90%;
	margin: 0 auto;
}

.section-two{
	animation: 3s ease-out 0s 1 slideIn;
	margin-top: 0em;
	color: #fff;
	
	width: 100%;
}

.about-me
{
	display: block;
	padding: 4em;
	max-width: 50%;
	text-align: left;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: .5rem;
}

.about-me h1 {
	/*width: 64%;*/
	font-weight: 700;
	color: black;
	letter-spacing: .1em;
	color: #151c22;
	font-size: 1.5rem;
}

.about-me p 
{
	color: #151c22;
	font-family: Geneva, Verdana, sans-serif;
	font-size: 1.2rem;

}

.container-news-feature{
	max-width: 100%;
	margin: 0 auto;
}

.container-news{
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: #fcfcfc;
	color: #151c22;
	background-color: rgba(0, 0, 0, 0.01);
}

.news-image{
	z-index: 1;
	width: 100%;
	height:  100%;
	overflow: hidden;
	position: relative;
	background-size: cover;
	transition: all .5s ease;
	grid-column: 1 / 2; 
  	grid-row: 1 / -1; 
}

.news-image img {
	width: 100%;
	height: 100%;
  	object-fit: cover; 
}

.news-image:hover,
.news-image:focus{
	cursor: pointer;
	transform: scale(0.95);
	opacity: .98;
}

.news-text{
	display: block;
	padding: 4em;
	max-width: 100%;
	text-align: left;
	margin: auto;
}

.news-text h1 {
	/*width: 64%;*/
	font-weight: 700;
	color: black;
	letter-spacing: .1em;
	color: #151c22;
	font-size: 1.5rem;
}

.news-text p 
{
	color: #151c22;
	font-family: Geneva, Verdana, sans-serif;
	font-size: 1.2rem;

}

.news-text h4{
	color: #666c71;
}

/* Section three */
.container-news-feature-three{
	animation: 3s ease-in 0s 1 slideIn;
	max-width: 90%;
	width: 90%;
	margin: 0 auto;
}

.container-news-three{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 3vw;	
	background-color: #fcfcfc;
	color: #151c22;
	margin: 0 auto;
	background-color: #f1f5f9;
}

.news-image-three{
	transform: scale(0.9);
	transition: all .5s;
}

.news-image-three:hover,
.news-image-three:focus{
	cursor: pointer;
	transform: scale(0.95);
	opacity: .98;
}

.news-text-three{
	display: block;
	padding-top: 1em;
	max-width: 100%;
}

.news-text-three h1 {
	width: 64%;
	font-weight: 100;
	color: black;
	letter-spacing: .1em;
}

.news-text-three h4{
	color: #666c71;
}


/* Media Queries*/


/** Mobile devices */	
@media only screen and (max-width: 600px)
{
	header{
		text-align: center;
/*		background-color: green;
*/		padding: 0.5em;
	}

/*	header{
	animation: 3s ease-out 0s 1 slideInHeader;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	padding: 2em;
	/*background-color: #fff;*/
/*	transition: all 1s;
	opacity: 0%;
}
*/
	nav ul {
		text-align: center;
		width: 100%;
	}

	nav li{
		width: 50%;
		/*padding: 3px;*/
		margin: 0 1em;
	}

	nav a{
		font-size: 1.3em;
	}

	section {
		/*padding: 10px;*/
	}

	.container-menu{
		flex-direction: column;
	}

	.menu{
		margin: .5em 0;
		width: 100%;
	}

	.container-news
	{
		display: block;
	}

	.news-text{
		padding: 2em;
		max-width: 100%;
	}

	.container-nav{
		flex-direction: column;
	}

	.container-news-three {
		display: block;
		width: 100%;
	}

	.hero_stage
	{
		width:  100%;
		height:  5%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.hero_stage h1
	{
		position: absolute;
		font-size: 2em;
	}

	.hero_stage h1:nth-child(1)
	{
		color: transparent;
		-webkit-text-stroke: 1px rgba(18,98,251,.95);
	}

	.hero_stage h1:nth-child(2)
	{
		color: rgba(18,98,251,.95);
		animation: animate 4s ease-in-out infinite;
	}

	.mainhero
	{
		min-height: 0rem;
	}
}

@media (max-width: 1000px)
{
	.container-news
	{
		grid-template-columns: 1fr;
	}
}

/*
@media (min-width: 1500px)
{
	.container-menu {
	  width: 50%;
	  margin: 6em 0em;
	  padding: 0 1em;
	  display: flex;
	  justify-content: space-around;
	  position: absolute; /* Add this line */
	  //bottom: 0; /* Add this line */
	  //left: 50%; /* Add this line */
	  //transform: translateX(-50%); /* Add this line */
	//}
//}

*/


