*{
	box-sizing: border-box;	
}
html{
	font-size: 16px;
	scroll-behavior: smooth;
	font-family:'Helvetica Neue',sans-serif;
}

body{
	margin: 0;
	font-size: 1rem;
	font-family: 'Lato', sans-serif;
	background-color: #fcfcfc;
}
img{
	max-width: 100%;
}

/* Navigation */
h1{
	margin: 0;
}
.container-nav{
	display: flex;
	justify-content: space-between;
}

.site-title{
	margin: .5em 0;
	color: #151c22;
	padding-left: 1em;
}
header{
	padding: 2em;
	/*background-color: #fff;*/
	transition: all 1s;
}


nav ul{
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;
}

nav li{
	margin-left: 2em;

}

nav a{
	text-decoration: none;
	color: #151c22;
	font-weight: 700;
	padding: .25em 0;
}

nav a:hover,
nav a:focus{
	color: #1262fb;

}

/* Animations */

@keyframes slideIn {
	0% {
		transform: translateY(50%);
		opacity: 0%;
	}
	100% {
		transform: translateY(0);
		opacity: 100%;
		
	}
}

.current-page{
	border-bottom: 1px solid #1262fb;
	color: #1262fb;
}

.current-page:hover{
	color: #1262fb;	
}

/* Typography */


/* Content */

section {
	animation: 2s ease-out 0s 1 slideIn;
	padding: 45px;
}

.container {
	max-width: 100%;
	width: 90%;
	margin:  0 auto;
}

.content-one img{
	border-radius: .5rem;
	max-width: 100%;
}

.content-one{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	background-color: #fcfcfc;
	color: #151c22;
}

.image-info{
	display: block;
	padding-left: 3em;
	max-width: 100%;
}


/* Section two */

.content-two img{
	border-radius: .9rem;
	max-width: 100%;
}

.content-two{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	background-color: #fcfcfc;
	color: #151c22;
}
/* Section three */
.content-three img{
	border-radius: .9rem;
	max-width: 100%;
	margin: 0 auto;
}

.content-three{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	background-color: #fcfcfc;
	color: #151c22;
}

.battle-of-reading{
	text-decoration: none;
	color: black;
	transition: all 1s;
}

.battle-of-reading:hover{
	color: #1262fb;
}

/* Section four */
.content-four img{
	border-radius: .4rem;
	max-width: 100%;
	margin: 0 auto;
}

.content-four{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	background-color: #fcfcfc;
	color: #151c22;
}

/* Section Five */
.content-five img{
	border-radius: .4rem;
	max-width: 100%;
	margin: 0 auto;
}

.content-five{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	background-color: #fcfcfc;
	color: #151c22;
}

/* Section Six */
.content-six img{
	border-radius: .4rem;
	max-width: 100%;
	margin: 0 auto;
}

.content-six{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	background-color: #fcfcfc;
	color: #151c22;
}


/* Mobile devie */

@media only screen and (max-width: 600px)
{
	header{
		text-align: center;
	}
	nav {
		padding-right: 20px;
	}
	nav ul {
		text-align: center;
		width: 100%;
	}

	nav li{
		width: 50%;
	}

	nav a{
		font-size: 1.3em;
	}

	.container {
		max-width: 100%;
		width: 100%;
	}

	.container-nav{
		flex-direction: column;
	}

	.image-info {
		padding-left: 1.3em;
	}
	.container-menu{
		flex-direction: column;
	}
	.content-one{
		display: block;
	}
	.content-two{
		display: block;
	}
	.content-three{
		display: block;
	}
	.content-four{
		display: block;
	}

	.content-five{
		display: block;
	}
	.content-six{
		display: block;
	}

	.image-info{
		padding: 1em 0.5em;
		max-width: 100%;
		height: 50%;
	}
}
